<!-- Outer Wrapper-->
<div id="outer-wrapper">
    <!-- Inner Wrapper -->
    <div id="inner-wrapper">

        <!-- Page Canvas-->
        <div id="page-canvas">
            <!--Off Canvas Navigation-->
            <!--end Off Canvas Navigation-->
            <!--Page Content-->
            <div id="page-content">
                <!--Hero Image-->
                <section class="hero-image search-filter-middle height-500">
                    <div class="inner">
                        <div class="container">
                            <h1>Find Tattoo Artists in Your Area</h1>
                            <div class="search-bar horizontal">
                                <%= form_tag search_artists_path, method: :get do |f| %>
                                    <div class="input-row">
                                        <div class="form-group">
                                            <%= label :location, "Search Nearby Tattoo Artists : " %>
                                            <div class="input-group location">
                                              <%= text_field_tag :location, params[:location], placeholder: "Search by City", :required => true%>
                                            </div>
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <%= submit_tag "Search", class: "btn btn-default" %>
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                <% end %>
                                <!-- /.main-search -->
                            </div>
                            <!-- /.search-bar -->
                        </div>
                    </div>
                    <div class="background">
                        <img src="https://drscdn.500px.org/photo/79240629/q%3D80_m%3D1500/52bb46751f64116352e76d3acc31718a" alt="">
                    </div>
                </section>
                <!--end Hero Image-->

                <!--Featured-->
                <section id="featured" class="block equal-height">
                    <div class="container">
                        <header><h2>Featured</h2></header>
                        <div class="row">
                            <div class="col-md-3 col-sm-3">
                                <div class="item">
                                    <div class="image">
                                        <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                                        <a href="item-detail.html">
                                            <div class="overlay">
                                                <div class="inner">
                                                    <div class="content">
                                                        <h4>Description</h4>
                                                        <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <img src="http://3.bp.blogspot.com/-x712QByaWtU/UgztPGWrRyI/AAAAAAAAARM/rh6O4iL3P_g/s1600/tattoo+suit.jpg">
                                        </a>
                                    </div>
                                    <div class="wrapper">
                                        <a href="item-detail.html"><h3>Larry Page</h3></a>
                                        <figure>63 Birch Street</figure>
                                        <div class="info">
                                            <!-- <div class="type">
                                                <i><img src="" alt=""></i>
                                                <span>Info can go here</span>
                                            </div> -->
                                            <div class="rating" data-rating="4"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.item-->
                            </div>
                            <!--/.col-sm-4-->
                            <div class="col-md-3 col-sm-3">
                                <div class="item">
                                    <div class="image">
                                        <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                                        <a href="item-detail.html">
                                            <div class="overlay">
                                                <div class="inner">
                                                    <div class="content">
                                                        <h4>Description</h4>
                                                        <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <img src="http://www.thearcadiaonline.com/wp-content/uploads/2013/10/0IMG_9655-1-copy-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="wrapper">
                                        <a href="item-detail.html"><h3>Sergey Brin</h3></a>
                                        <figure>63 Birch Street</figure>
                                        <div class="info">
                                            <!-- <div class="type">
                                                <span>Info can go here</span>
                                            </div> -->
                                            <div class="rating" data-rating="4"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.item-->
                            </div>
                            <!--/.col-sm-4-->
                            <div class="col-md-3 col-sm-3">
                                <div class="item">
                                    <div class="image">
                                        <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                                        <a href="item-detail.html">
                                            <div class="overlay">
                                                <div class="inner">
                                                    <div class="content">
                                                        <h4>Description</h4>
                                                        <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-specific">
                                            </div>
                                            <img src="http://theurbanspotter.com/wp-content/uploads/2012/06/jimmyq.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="wrapper">
                                        <a href="item-detail.html"><h3>Elon Musk</h3></a>
                                        <figure>4662 Bruce Street</figure>
                                        <div class="info">
                                            <!-- <div class="type">
                                                <span>Info can go here</span>
                                            </div> -->
                                            <div class="rating" data-rating="3"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.item-->
                            </div>
                            <!--/.col-sm-4-->
                            <div class="col-md-3 col-sm-3">
                                <div class="item">
                                    <div class="image">
                                        <div class="quick-view"><i class="fa fa-eye"></i><span>Quick View</span></div>
                                        <a href="item-detail.html">
                                            <div class="overlay">
                                                <div class="inner">
                                                    <div class="content">
                                                        <h4>Description</h4>
                                                        <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-specific">
                                            </div>
                                            <img src="http://i-am-not-a-celebrity.com/wp-content/uploads/2014/05/gaolhouse-denim-16-1024x682.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="wrapper">
                                        <a href="item-detail.html"><h3>Howard Hughes</h3></a>
                                        <figure>357 Trainer Avenue</figure>
                                        <div class="info">
                                            <!-- <div class="type">
                                                <i><img src="" alt=""></i>
                                                <span>Sushi Bar</span>
                                            </div> -->
                                            <div class="rating" data-rating="3"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.item-->
                            </div>
                            <!--/.col-sm-4-->
                        </div>
                        <!--/.row-->
                    </div>
                    <!--/.container-->
                    <div class="background opacity-70">
                        <img src="http://static1.squarespace.com/static/557a8fb6e4b002c66e9bbe01/t/55bb0ce2e4b07fa7600ec004/1434097263863/PRIVATEEYELAOFLOSANGELES.png?format=1500w" alt="">
                    </div>
                </section>
                <!--end Featured-->

                <!--Popular-->
                <section id="popular" class="block background-color-white">
                    <div class="container">
                        <header><h2>Popular</h2></header>
                        <div class="owl-carousel wide carousel">
                            <div class="slide">
                                <div class="inner">
                                    <div class="image">
                                        <div class="item-specific">
                                            <div class="inner">
                                                <div class="content">
                                                    <!-- <dl>
                                                        <dt>Text can go here</dt>
                                                        <dd>and here</dd>
                                                    </dl> -->
                                                </div>
                                            </div>
                                        </div>
                                        <img src="http://p2.pstatp.com/large/10327/8136026531">
                                    </div>
                                    <div class="wrapper">
                                        <a href="item-detail.html"><h3>Tony Stark</h3></a>
                                        <figure>
                                            <i class="fa fa-map-marker"></i>
                                            <span>970 Chapel Street, Rosenberg, TX 77471</span>
                                        </figure>
                                        <!-- <div class="info">
                                            <div class="rating" data-rating="4">
                                                <aside class="reviews">6 reviews</aside>
                                            </div>
                                            <div class="type">
                                                <i><img src=""></i>
                                                <span>Restaurant</span>
                                            </div>
                                        </div> -->
                                        <!--/.info-->
                                        <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa, viverra interdum eros ut,
                                            imperdiet pellentesque mauris. Proin sit amet scelerisque risus. Donec semper semper erat ut mollis.
                                            Curabitur suscipit, justo eu dignissim lacinia, ante sapien pharetra dui...
                                        </p>
                                        <a href="item-detail.html" class="read-more">Read More</a>
                                    </div>
                                    <!--/.wrapper-->
                                </div>
                                <!--/.inner-->
                            </div>
                            <!--/.slide-->
                            <div class="slide">
                                <div class="inner">
                                    <div class="image">
                                        <div class="item-specific">
                                            <div class="inner">
                                                <div class="content">
                                                    <!-- <dl>
                                                        <dt>Content can go here</dt>
                                                        <dd>and here</dd>
                                                    </dl> -->
                                                </div>
                                            </div>
                                        </div>
                                        <img src="http://66.media.tumblr.com/dd9a5bbce6f67e5a8bcf3b819f1e28bc/tumblr_o19j7lPuIg1u3upnpo1_1280.jpg">
                                    </div>
                                    <div class="wrapper">
                                        <a href="item-detail.html"><h3>Bruce Wayne</h3></a>
                                        <figure>
                                            <i class="fa fa-map-marker"></i>
                                            <span>2476 Whispering Pines Circle</span>
                                        </figure>
                                        <!-- <div class="info">
                                            <div class="rating" data-rating="4">
                                                <aside class="reviews">6 reviews</aside>
                                            </div>
                                            <div class="type">
                                                <i><img src=""></i>
                                                <span>Restaurant</span>
                                            </div>
                                        </div> -->
                                        <!--/.info-->
                                        <p>Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque massa, viverra interdum eros ut,
                                            imperdiet pellentesque mauris. Proin sit amet scelerisque risus. Donec semper semper erat ut mollis.
                                            Curabitur suscipit, justo eu dignissim lacinia, ante sapien pharetra dui...
                                        </p>
                                        <a href="item-detail.html" class="read-more">Read More</a>
                                    </div>
                                    <!--/.wrapper-->
                                </div>
                                <!--/.inner-->
                            </div>
                            <!--/.slide-->
                        </div>
                        <!--/.owl-carousel-->
                    </div>
                    <!--/.container-->
                </section>
                <!--end Popular-->
            </div>
            <!-- end Page Content-->
        </div>
        <!-- end Page Canvas-->

<script>
    $(window).load(function(){
        var rtl = false; // Use RTL
        initializeOwl(rtl);
    });

    autoComplete();
</script>
