<!-- Outer Wrapper-->
<div id="outer-wrapper">
    <!-- Inner Wrapper -->
<div id="inner-wrapper">
<!--Page Footer-->
<footer id="page-footer">
    <div class="inner">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <!--Recent Reviews-->
                        <section>
                            <h2>Recent Reviews</h2>
                            <a href="#" class="review small">
                                <h3>Tony Stark</h3>
                                <figure>4365 Bruce Street</figure>
                                <div class="info">
                                    <div class="rating" data-rating="4"></div>
                                    <div class="type">
                                        <!-- <i><img src="assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""></i>
                                        <span>Restaurant</span> -->
                                    </div>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non suscipit felis, sed sagittis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras ac placerat mauris.
                                </p>
                            </a><!--/.review-->
                            <a href="#" class="review small">
                                <h3>Bruce Wayne</h3>
                                <figure>2476 Whispering Pines Circle</figure>
                                <div class="info">
                                    <div class="rating" data-rating="5"></div>
                                    <div class="type">
                                        <!-- <i><img src="assets/icons/restaurants-bars/restaurants/restaurant.png" alt=""></i>
                                        <span>Restaurant</span> -->
                                    </div>
                                </div>
                                <p>
                                    Pellentesque mauris. Proin sit amet scelerisque risus. Donec semper semper erat ut mollis curabitur
                                </p>
                            </a>
                            <!--/.review-->
                        </section>
                        <!--end Recent Reviews-->
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <section>
                            <h2>About Tatted</h2>
                            <address>
                                <div>The best way to find a tattoo artist</div>
                                <div>Area 51</div>
                                <div>Secret, NV 89044</div>
                                <figure>

                                    <div class="info">
                                        <i class="fa fa-phone"></i>
                                        <span>+1 760 844 2047</span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-globe"></i>
                                        <a href="https://github.com/Chav3zzz">www.tatted.com</a>
                                    </div>
                                </figure>
                            </address>
                            <a href="https://github.com/Chav3zzz" class="btn framed icon">Contact Us<i class="fa fa-angle-right"></i></a>
                        </section>
                    </div>
                    <!--/.col-md-4-->
                </div>
                <!--/.row-->
            </div>
            <!--/.container-->
        </div>
        <!--/.footer-top-->
        <div class="footer-bottom">
            <div class="container">
                <span class="left">(C) Tatted, All rights reserved</span>
                    <span class="right">
                        <%=link_to( image_tag("BlueTatText.png", :class => "logo"), artists_path) %>
                    </span>
            </div>
        </div>
        <!--/.footer-bottom-->
    </div>
</footer>
<!--end Page Footer-->
</div>
<!-- end Inner Wrapper -->
</div>
<!-- end Outer Wrapper-->
